.heroContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  color: #323639;
  max-width: 65rem;

}

.heroHeader {
  font-weight: 600;
  font-size: 3.2rem;
  margin: 3.2rem 0 .8rem 0;
  padding-bottom: 0.4rem;
  border-bottom: 0.3rem solid #ffa100;
}

.ImgSubSocialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.8rem 0 0.8rem 0;
  width: 100%;
}

.subHeadContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heroSubHead {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 200;
  text-align: center;
  font-weight: 300;
  margin-bottom: 1.6rem;
  max-width: 28rem;
}

.heroImg {
  max-width: 30rem;
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}


.socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: .2rem 0 .4rem 0;
}

.socialLogo {
  width: 3rem;
  margin: 0rem 0.4rem 0rem 0.4rem;
}

.socialLogo:hover {
  transform: scale(1.1);
}

.skillsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 11.4rem;
  margin: 0.8rem 0 .8rem 0;
  width: 100%;
  border-radius: 0.3rem;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.skillsHead {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0rem 0rem 0 0rem;
  text-align: right;
  color: #efefef;
  background-color: #2574db;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  width: 100%;
  height: 3.6rem;
}

.listContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 7.2rem;
  background-color: #efefef;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

.skillsList {
  margin: 0;
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0;
  color: #2574db;
  font-weight: 600;
  padding-left: 1.6rem;
}

.skillsListRight {
  margin: 0;
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 300;
  text-align: right;
  padding: 0;
  color: #2574db;
  font-weight: 600;
  border-right: 0.2rem solid #ffa100;
  padding-right: 1.6rem;
}

.emailSocialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emailHeader {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: .2rem;
  color: #323639;
  margin: 0 0 .4rem 0;
}

.resumeButton {
  background: none;
  color: #323639;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.resumeButton:hover {
  border-bottom: 0.3rem solid #ffa100;

}

@media screen and (min-width: 1024px) {

  .heroContainer {
    display: flex;
    flex-direction: row;
    align-items: center;

  }

  .heroHeader {
    text-align: right;
    font-weight: 600;
    font-size: 4rem;
    margin: 3.2rem 0 .8rem 0;
  }

  .subHeadContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 3.2rem;
  }

  .heroSubHead {
    font-size: 1.6rem;
    line-height: 2.4rem;
    text-align: right;
  }

  .heroImg {
    max-width: 36rem;
    border-radius: 0.3rem;
    box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
    margin: 3.2rem 0 1.6rem 0;
  }

}