.pageLoadContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: 0.5s ease-in pageLoad;
  width: 80%;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  width: 100%;
  padding: 1.6rem 0 1.6rem 0;
  border-radius: 0.3rem;
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
  margin-top: 0.8rem;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  color: #323639;
}

.header {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 0.4rem;
  color: #2574db;
}
.subHeadSection {
  font-size: 1.2rem;
  line-height: 2.1rem;
  font-weight: 600;
  padding: 0.4rem 0 0.4rem 0;
  width: 100%;
}

.paragraphSection {
  font-size: 1.2rem;
  line-height: 2.1rem;
  font-weight: 300;
  padding: 0.4rem 0 0.4rem 0;
}

.imageFlexContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.6rem 0 1.6rem 0;
}

.underline {
  border-bottom: 0.3rem solid #ffa100;
}

.learnMore {
  margin: 0.4rem 0 0rem 0;
  background: none;
  color: #323639;
  cursor: pointer;
  font-weight: 600;
  border: none;
  font-size: 1.2rem;
  padding: 0 0 0.4rem 0;
}

.learnMore:hover {
  border-bottom: 0.3rem solid #ffa100;
}

@media screen and (min-width: 640px) {
  .background {
    width: 100%;
    max-width: 65rem;
  }
}
